# Ignore cache files
php/www/files/_cache/

# Ignore log files
php/www/files/_log/

# Ignore session files
php/www/files/_sessions/

# Ignore all hidden system files (Mac and Linux)
.DS_Store
Thumbs.db

# Ignore compiled or temporary files
*.swp
*.bak
*.tmp
*.log
